

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #111;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 40px 20px 25px;
    z-index: 1000;
    display: flex;
    border-bottom: 1px solid #dfdfdf;
    color: #fff;
    background-color: rgb(55, 55, 55);
}

h2 {
    text-transform: uppercase;
    font-weight: 100;
}

.property {
    display: none;
    width: 100%;
    height: 100%;
}

.question {
    position: absolute;
    display: grid;
    height: 100px;
    width: 100%;
    top: 65px;
    align-items: center;
    justify-items: center;
}

.question h1 {
    font-weight: 400;
}

#option-box {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    height: 575px;
    width: 600px;
    min-width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin-inline: auto;
    gap: 1.5rem;
    padding: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.images {
    height: 75px;
    align-items: center;
}

.card-btn {
    display: flex;
    width: 200px;
    height: 40px;
}

.continue-btn {
    background-color: #3EC70B;
    color: #F2F3F5;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

@media (max-width: 400px) {
    #option-box {
        grid-template-columns: repeat(1,1fr);
    }

    .card {
        height: 100px;
        width: 100px;
    }

    .images {
        height: 70px;
    }

    .card-btn {
        justify-content: center;
    }
}

#loading-bar {
    background-color: #30475E;
    color: #B2B1B9;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 120px;
    left: 0;
    
    padding-top: 10px;
}

#loading-bar ul {
    display: flex;
    gap: 10rem;
    height: 60px;
    list-style: none;
    justify-content: center;
    align-items: flex-end;
}

#loading-bar ul li {
    padding: 5px;

}

.bar-holder {
    display: flex;
    justify-content: center;
    left: 20%;
    
}

.bar {
    width: 800px;
    background-color: #334257;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);

}

#myBar {
    height: 24px;
    width: 5%;
    background-color: #476072;
    border-end-end-radius: 5px;
    border-start-end-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}

/*lease term css*/

.leaseterm {
   /* display: grid;*/
    display: none;
    width: 100%;
    justify-content: center;
}

#lease {
    position: relative;
    top: -30px;
    height: 500px;
    width: 600px;
    min-width: 300px;
}

#lease .card-btn {
    display: flex;
    justify-content: space-between;
    gap: 1;
    width: 250px;
}

.content {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: left;
    justify-items: left;
    gap: 1.5rem;
    padding: 1.5rem;
}

.hr-card {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-right: 10px;
    width: 210px;
    height: 75px;
    background-color: rgb(220, 220, 220);
    justify-items: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.hr-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.lease-btn {
    margin-left: 20px;
    display: flex;
    width: 250px;
    height: 40px;
    margin-top: 100px;
    justify-content: space-between;
}

.back-btn {
    background-color: rgb(220, 220, 220);
    color: #413F42;
    width: 75px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.back-btn:hover {
    background-color: #c4cac4;
    filter: brightness(90%);
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}

.calender {
    height: 50px;
}

.lease-date {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 10px;
    width: 210px;
    height: 75px;
    justify-items: left;
    align-items: left;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.lease-date input {
    border: none;
    border-bottom: 1px solid green;
    background-color: rgb(245, 245, 245);
    width: 100%;
    font-size: 18px;
    font-weight: 100;
}

.lease-question {
    display: flex;
    width: 210px;
    height: 75px;
    justify-content: center;
    align-items: center;
}

.lease-question h3 {
    font-size: 18px;
    font-weight: 500;
}

.lease-date h4 {
    font-size: 18px;
    font-weight: 400;
}

.hr-card:nth-child(1){
    background-color: lightblue;
    grid-row: 1;
}

.hr-card:nth-child(2){
    background-color: pink;
    grid-row: 2;
}

.hr-card:nth-child(3){
    background-color: lightseagreen;
    grid-row: 3;
}

/*details css*/

.property-details {
    display: grid;
    width: 100%;
    justify-content: center;
}

.details {
    width: 700px;
    justify-content: center;
    height: 600px;
}

.details .container {
    position: relative;
    height: 300px;
    width: 600px;
    min-width: 300px;
}

.details .container h1 {
    padding-bottom: 50px;
}

.details .container h3 {
    padding-bottom: 50px;
}

.details .container input {
    width: 300px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    resize: none;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #665;
}



.inputBox input:focus ~ span {
    color: rgb(55, 55, 55);
    font-size: 12px;
    transform: translateY(-20px);
}

.inputBox h5 {
    font-weight: 100;
}

.property-btn {
    display: flex;
    width: 250px;
    height: 40px;
    margin-top: 100px;
    justify-content: space-between;
}

/*landlord css*/

.landlord-details .details .container  {
   margin-top: -50px;
}



.landlord-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 400px;
    height: 600px;
    justify-items: left;
    align-items: center;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: -30px;
}

.landlord-box .hr-card {
    width: 250px;
    height: 90px;
}

.landlord-box .hr-card h3 {
    position: relative;
    top: 25px;
}

.landlord-box .l-question {
    position: relative;
    height: 20px;
}

.landlord-box .inputBox {
    height: 10px;
}

.landlord-box .inputBox input {
    width: 250px;
}

.landlord-box .inputBox span {
    position: absolute;
    left: 1.5rem;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.land-back-btn {
    background-color: rgb(220, 220, 220);
    color: #413F42;
    width: 75px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

/*tenant info*/

.tenant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 600px;
    height: 200px;
    gap: 1.5rem;
    padding: 1.5rem;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-top: -30px;
}

.tenant .tenant-one {
    display: flex;
    position: absolute;
    width: 250px;
}

.tenant .inputBox input {
    position: relative;
    width: 250px;  
}

.tenant .inputBox input::after {
    content: "Full Name:";
    display: block;
    
}

.tenant .inputBox .left {
    left: 1.5rem;
}

.tenant .inputBox .right {
    left: 312px;
    width: 100%;
}

.tenant :nth-child(1) {
    grid-row: 1;
}

.tenant :nth-child(2) {
    grid-row: 2;
}
.tenant :nth-child(3) {
    grid-row: 1;
    grid-column: 2;
}
.tenant :nth-child(4) {
    grid-row: 2;
    grid-column: 2;
}

.add-tenant {
    position: absolute;
    text-decoration: none;
    border: none;
    margin-top: 1rem;
    background-color: rgb(245, 245, 245);
}

.add-tenant a {
    text-decoration: none;
    transition: 0.2s;
    color: #665;
}

.add-tenant a:hover {
    color: green;
    
}

.add-tenant a h4 {
    transition: 0.2s;
}

.add-tenant a h4:hover {
    letter-spacing: 2px;
}

#tenant-two {
    display: none;
    margin-top: 1rem;
}

.tenant-box .property-btn {
    margin-top: 3rem;
}

/*Rent css*/

.rent-details {
    display: grid;
    width: 100%;
    justify-content: center;
}

.rent-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.rent-box .pay-monthly {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 2rem;
}



.rent-box .pay-monthly .button {
    position: relative;
    justify-content: space-between;
}

.rent-box .pay-monthly .button {
    display: grid;
    position: relative;
    justify-content: space-between;
    height: 93px;
}

.rent-box .pay-monthly .button .yes-no {
    display: flex;
    justify-content: space-around;
}

.rent-box .pay-monthly .button .yes-no button {
    width: 100px;
    border: none;
    background-color: rgb(245, 245, 245);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

.monthly-rent {
    display: grid;
}

.monthly-rent .inputBox {
    position: relative;
    display: flex;
    align-items: flex-end;

}

.monthly-rent h3 {
    margin-bottom: 10px;
}

.monthly-rent .inputBox h3 {
    margin-right: 10px;
}

.monthly-rent input {
    width: 170px;
    background-color: rgb(245, 245, 245);
}

.monthly-rent span {
    left: 20px;
}


.day-payment .hr-card {
    margin-top: 1rem;
    background-color: rgb(220, 220, 220);
}

.rent-other {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-end;
}

.choose-day {
    display: none;
}

.choose-day .inputBox input {
    background-color: rgb(245, 245, 245);
    width: 340px;
}

.choose-day .inputBox span {
    left: 545px;
}

.day-payment {
    display: grid;
}

.day-payment .images {
    height: 60px;
}

.weekly-container {
    display: none; 
}

.weekly-payment {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.weekly-payment .hr-card {
    margin-top: 1rem;
    background-color: rgb(220, 220, 220);
}

.weekly-rent .inputBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: right;
}

.weekly-rent .inputBox h3 {
    margin-right: 10px;
}

.weekly-rent .inputBox input {
    background-color: rgb(245, 245, 245);
    width: 340px;
}

.weekly-rent .inputBox .right {
    left: 20px;
}

.tenant-rent-week .images {
    height: 60px;
}

.inputBox .example {
    position: absolute;
    margin-top: 55px;
    left: 24px;
    opacity: 0.5;
}