

* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: rgb(245, 245, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #111;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 25px 40px 20px 25px;
    z-index: 1000;
    display: flex;
    border-bottom: 1px solid #dfdfdf;
    color: #fff;
    background-color: rgb(55, 55, 55);
}

h2 {
    text-transform: uppercase;
    font-weight: 100;
}

#question {
    position: absolute;
    display: flex;
    height: 100px;
    width: 100%;
    top: 65px;
    align-items: center;
    justify-content: center;
}

#question h1 {
    font-weight: 400;
}

#option-box {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fff;
    height: 650px;
    width: 600px;
    min-width: 300px;
    /*display: grid;*/
    display: none;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    margin-inline: auto;
    gap: 1.5rem;
    padding: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 245);
    height: 200px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.images {
    height: 125px;
    align-items: center;
}

.card-btn {
    display: flex;
    width: 200px;
    height: 40px;
}

.continue-btn {
    background-color: #3EC70B;
    color: #F2F3F5;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.continue-btn:hover {
    background-color: #82A284;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
}


@media (max-width: 400px) {
    #option-box {
        grid-template-columns: repeat(1,1fr);
    }

    .card {
        height: 100px;
        width: 100px;
    }

    .images {
        height: 70px;
    }

    .card-btn {
        justify-content: center;
    }
}

#loading-bar {
    background-color: #30475E;
    color: #B2B1B9;
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 120px;
    left: 0;
    
    padding-top: 10px;
}

#loading-bar ul {
    display: flex;
    gap: 10rem;
    height: 60px;
    list-style: none;
    justify-content: center;
    align-items: flex-end;
}

#loading-bar ul li {
    padding: 5px;

}

.bar-holder {
    display: flex;
    justify-content: center;
    left: 20%;
    
}

.bar {
    width: 800px;
    background-color: #334257;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);

}

#myBar {
    height: 24px;
    width: 5%;
    background-color: #476072;
    border-end-end-radius: 5px;
    border-start-end-radius: 5px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.2);
}

#lease {
    position: relative;
   
    height: 650px;
    width: 600px;
    min-width: 300px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: left;
    justify-items: left;
    gap: 1.5rem;
    padding: 1.5rem;
    border: 1px solid red;
}

.hr-card {
    width: 200px;
    height: 75px;
    background-color: rgb(220, 220, 220);
}